<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         cacheTokens="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="true">
    <testsuites>
        <testsuite name="Task Manager">
            <directory>test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="testdox-text" target="php://stdout" />
        <log type="coverage-html" target="build/logs/coverage-html/" />
        <log type="coverage-clover" target="build/logs/clover.xml" />
    </logging>
</phpunit>
